<section class="login main d-flex align-items-center justity-content-center">
  <div class="container">
    <div class="row">
      <div class="card-wrapper col-md-4 m-auto">
        <!-- Login Card -->
        <div class="card shadow-sm border-0 p-3">
          <div class="card-body">
            <!-- Brand Logo -->
            <div class="brand text-center mb-4">
              <img src="../../../assets/logo.jpg" alt="logo" class="rounded-circle shadow" width="80px" />
            </div>
            <h4 class="card-title mb-3">Login</h4>
            <!-- Login Form -->
            <form [formGroup]="formGroup" #form="ngForm" (ngSubmit)="onSubmit()">
              <!-- Email Field -->
              <div class="form-group mb-4">
                <label for="email">E-Mail Address</label>
                <input id="email" type="email" class="form-control mt-2" name="email" formControlName="email" />
                <!-- Email Validation Errors -->
                @if( formGroup.controls.email.invalid &&
                (formGroup.controls.email.dirty ||
                formGroup.controls.email.touched)){
                @if(formGroup.controls.email.errors?.['required']){
                <div class="invalid-feedback d-block">
                  Please enter your email address
                </div>
                } @if(formGroup.controls.email.errors?.['email']){
                <div class="invalid-feedback d-block">
                  Invalid email format.
                </div>
                } }
              </div>

              <!-- Password Field -->
              <div class="form-group">
                <label for="password">Password </label>
                <input id="password" type="text" class="form-control mt-2" name="password" formControlName="password" />
                <!-- Password Validation Errors -->
                @if (formGroup.controls.password.invalid &&
                (formGroup.controls.password.dirty ||
                formGroup.controls.password.touched)) {
                <div>
                  @if (formGroup.controls.password.errors?.['required']) {
                  <div class="invalid-feedback d-block">
                    Please enter password
                  </div>
                  } @if (formGroup.controls.password.errors?.['minlength']) {
                  <div class="invalid-feedback d-block">
                    Password must be at least 8 characters long
                  </div>
                  }
                </div>
                }
              </div>

              <!-- Submit Button and Loading Spinner -->
              <div class="form-group mt-4">
                @if (isLoading) {
                <button
                  class="btn btn-primary w-100 text-white d-flex align-items-center justify-content-center rounded"
                  disabled>
                  <span class="spinner-border spinner-border-sm  me-2 mb-1" role="status" aria-hidden="true"></span>
                  Loading...
                </button>

                } @else {

                <button type="submit" class="btn btn-primary btn-block w-100">
                  Login
                </button>
                }
              </div>
              <!-- Link to Register Page -->
              <div class="mt-4 text-center">
                Don't have an account? <a href="#">Create One</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>